.headerPhoto {
	height: 650px;
	background: url(heat.jpg) no-repeat;
	background-size: cover;
	color: white;
	font-family: Verdana, sans-serif;
	position: relative;
	margin: 0px;
}

.headerLogo {
	position: relative;
	top: 20px;
	left: 140px;
	float: left;
	display:inline-block;
	width: 850px;
	font-size: 20px;
}

a { 
    text-decoration: none;
	color: white;
   }

.headerMenu {
	position: relative;
	top: 20px;
	float: left;
	display:inline-block;
	width: 100px;
	text-align: center;
	font-size: 20px;
}

.headerMenu:hover {
	border-bottom: 2px white solid;
}

.NameTextStyle {
	font-size: 80px;
	color: white;
	font-family: Arial Black, sans-serif;
}

.JobTextStyle {
	font-size: 25px;
	color: white;
	font-family: Avant Garde, sans-serif;
}

.headerName {
	position: relative;
	top: 30%;
	left: 17%;
	width: 900px;
	text-align: center;
}
