body {
	margin: 0; 
	padding: 0;
	color: #424242;
}

hr {
	border: none;
    background-color: #cccccc; 
    color: #cccccc;
    height: 2px;
}

input {
	border: 1px solid #cccccc;
	border-radius: 0px;
	height: 40px;
	width: 440px;
	font-size: 15px;
	font-family: Century Gothic, sans-serif;
	padding: 0 0 0 10px;
	margin: 0 0 5px 0;
}

textarea {
	border: 1px solid #cccccc;
	border-radius: 0px;
	height: 80px;
	width: 440px;
	font-size: 15px;
	font-family: Century Gothic, sans-serif;
	padding: 10px 0 0 10px;
	margin: 10px 0 0 0;
}

.contactFormButton {
	font: center;
	font-size: 15px;
	font-family: Century Gothic, sans-serif;
	text-decoration: bold;
	color: white;
	background: #333333;
	width: 165px;
	height: 30px;
	border: 0;
}

